@import url(/node_modules/@fontsource/montserrat/400.css);
@import url(/node_modules/@fontsource/montserrat/600.css);
@import url(/node_modules/@fontsource/fraunces/600.css);

$main-font: Montserrat, sans-serif;
$regular-font: Fraunces, sans-serif;

$main-color: #3e8168;
$background-color: #f3ebe0;
